/* .home{
    max-width: 1400px;
    
} */
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    margin-left: 50px;
    margin-right: 50px;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
}



.home input,.home select{
    background-color:var(--element);
    color: var(--text-color);
    padding: 7px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}

.search{
    position: relative;
    flex-grow: 2;
}
#root > div > div > div.home-filter > div > svg{
    position: absolute;
    left: 50px;
    top: 22px;
    color: var(--text-color);
}
.search input{
    margin-left: 23px;
   font-size: 18px;
    padding: 25px;
    padding-left: 80px;
    
    
}
.home select{
    margin-right: 22px;
    font-size: 18px;
}
.search input::placeholder{
    color: var(--text-color);
    font-size: 18px;
    
}
.home-filter{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
}
@media only screen and (max-width :440px) {
    .search{
        width: auto;
    }
    .search input {
        font-size: 16px;
        padding: 29px;
    padding-left: 50px;
    margin-left: -19px;
    }
    #root > div > div > div.home-filter > div > svg {
        left: -4px;
        top:25px;
        
    }
    .home select{
        position: relative;
        left: -40px;
    }
    
}
@media screen and (max-width:668px) {
    /* .home-filter{
        display: inline-block;
    } */
    .home select{
        margin: 23px;
    font-size: 18px;
    padding: 25px;
    
    }
}  