.navbar{
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 25px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
}
.navbar section {
    display: flex;
}
.navbar section span{
    margin-top: 2px;
}

